{% extends "base_generic.html" %}

{% block content %}
<!-- <h1>Name: {{book.author.first_name}}&nbsp{{ book.author.last_name}}</h1> -->

<p style="font-size: 5vh; margin-top: 10px;"><strong>Author:</strong> <a
        href="{% url 'author-detail' author.pk %}">{{author.first_name}}&nbsp{{ author.last_name}}</a></p>

<p style="font-size: 2vh; margin-top: -30px;"> {{ author.date_of_birth}}</p>

<div style="font-size: 2vh; margin-left: 30px;">
    <h3>books</h3>
    {% for book in book_list %}
    <p>{{book.title}}</p>
    {% endfor %}


</div>



{% endblock %}
